html, body {
    padding 0;
    margin: 0;
}
    

body {
    background-color: #ccc;
    height: 100%;
    font-family: sans-serif;
}

div#game {
    position: absolute;
    top: 10%;
    left: 0%;
    height: 80%;
    width: 100%;
    color: #eee;
    background-color: #bbb;        
}

div#game #title {
    position: absolute;
    text-align: center;
    left: 30%;
    width: 40%;
    font-size: 6em;
    top: 35%;
    background-color: #aaa;    
}

div#game #gamelist {
    background-color: #ddd;
    list-style-type: none;
    position: absolute;
    left: 30%;
    top: 60%;    
    width: 10%;
    font-size: 1em;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #333;
}

div#game #gamelist li:hover {
    background-color: #999;
}

#header {
    text-align: center;
    position: absolute;
    left: 30%;
    width: 40%;
    height: 6%;
    top: 0%;
    background-color: #bbb;
    color: #eee;
    font-size: .7em
    }

#games li {
    display: inline;
}
    


.x {
    display: none;
}

#lose {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 30%;
    font-size: 2em;
    background-color: #a00;
    display: none;
    opacity: .75;
   
}